.button{
	-fx-border-color: rgb(209, 155, 0); 
	-fx-text-fill: rgb(209, 155, 0);
	-fx-prompt-text-fill: rgb(209, 155, 0);
	-fx-background-color: rgb(0, 64, 128);
	-fx-font-family: "Georgia";
    -fx-font-size: 15px;
}

#textCrediti{
	-fx-color: rgb(255, 255, 255);
	-fx-font: 20px "Georgia", sans-serif;
  	-fx-font-weight: bold;
  	-fx-font-style: italic;
}

#textMoney{
		
}

.button:hover {
    -fx-border-color: rgb(0, 64, 128);
    -fx-background-color: rgb(209, 155, 0);
    -fx-text-fill: rgb(0, 64, 128);
    -fx-transition: background-color 0.3s ease;
}

#sfondo {
	-fx-background-image: url("/immagini/campogioco.jpg");
	-fx-background-size: cover;
	-fx-border-width: 2px;
    -fx-border-color: rgb(0, 0, 0);
    -fx-font-family: "Georgia";
}


#sfondoScuro {
	-fx-background-color: rgb(255,255,255,0.2);
}

#vboxScuro{
	-fx-background-color: rgb(0, 0 ,0, 0.6);
}

