#sfondoHBox{
	-fx-background-image: url("/immagini/tabellonetorneo.png");
	-fx-background-size: cover;
}

#hBoxSemifinali{
	-fx-background-color: rgba(255, 255, 255, 0);
	-fx-border-width: 0px;
}

#vboxIcon{
	
}

#homepageIcon{
	-fx-border-color: rgb(255,255,255);
	-fx-border-width: 10px;
}

HBox{
	-fx-background-color: rgba(255, 255, 255, 0.7);
	-fx-border-width: 2px;
    -fx-border-color: rgb(0, 0, 0);
}

#finaleVBox{
	-fx-background-color: rgba(255, 255, 255, 0.7);
	-fx-border-width: 2px;
    -fx-border-color: rgb(0, 0, 0);
}

.button{
	-fx-border-color: rgb(209, 155, 0); 
	-fx-text-fill: rgb(209, 155, 0);
	-fx-prompt-text-fill: rgb(209, 155, 0);
	-fx-background-color: rgb(0, 64, 128);
	-fx-font-family: "Georgia";
    -fx-font-size: 12px;
}

.button:hover {
    -fx-border-color: rgb(0, 64, 128);
    -fx-background-color: rgb(209, 155, 0);
    -fx-text-fill: rgb(0, 64, 128);
    -fx-transition: background-color 0.3s ease;
}

#infoTorneoVBox{
	-fx-background-color: rgba(255, 255, 255, 0.7);
	-fx-border-width: 2px;
    -fx-border-color: rgb(0, 0, 0);
}

#titoloTorneo {
	-fx-color: rgb(0, 0, 0);
	-fx-font: 25px "Georgia", sans-serif;
  	-fx-font-weight: bold;
  	-fx-font-style: italic;
}

#obiettivoTorneo {
	-fx-color: rgb(0, 0, 0);
	-fx-font: 14px "Georgia", sans-serif;
  	-fx-font-weight: bold;
}

#giocatoriTorneo {
	-fx-color: rgb(0, 0, 0);
	-fx-font: 14px "Georgia", sans-serif;
}

.label {
	-fx-color: rgb(0, 0, 0);
	-fx-font: 14px "Georgia", sans-serif;
  	-fx-font-weight: bold;
}

#vincitoreLabel {
	-fx-color: rgb(255, 0, 0);
	-fx-font: 20px "Georgia", sans-serif;
  	-fx-font-weight: bold;
  	-fx-background-color: rgba(255, 255, 255, 0.7);
}
