.button{
	-fx-border-color: rgb(209, 155, 0); 
	-fx-text-fill: rgb(209, 155, 0);
	-fx-prompt-text-fill: rgb(209, 155, 0);
	-fx-background-color: rgb(0, 64, 128);
	-fx-font-family: "Georgia";
    -fx-font-size: 12px;
}

.button:hover {
    -fx-border-color: rgb(0, 64, 128);
    -fx-background-color: rgb(209, 155, 0);
    -fx-text-fill: rgb(0, 64, 128);
    -fx-transition: background-color 0.3s ease;
}


#vincitoreTesto{
	-fx-color: rgb(0, 64, 128);
    -fx-font: 20px "Georgia", sans-serif;
    -fx-font-weight: bold;
}

#creditiTesto{
	-fx-color: rgb(0, 64, 128);
    -fx-font: 20px "Georgia", sans-serif;
    -fx-font-weight: bold;
}

#titoloPartita {
    -fx-color: rgb(0, 64, 128);
    -fx-font: 25px "Felix Titling", sans-serif;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

#hboxWinner{
	-fx-border-color: rgb(0, 0, 0); 
	-fx-text-fill: rgb(0, 64, 128);
	-fx-prompt-text-fill: rgb(0, 64, 128);
	-fx-background-color: rgb(209, 155, 0, 0.7);
	-fx-font-family: "Georgia";
    -fx-font-size: 14px;
}

#hboxPenalizzati{
	-fx-border-color: rgb(0, 0, 0); 
	-fx-background-color: rgb(255, 255, 255, 0.7);
	-fx-font-family: "Georgia";
    -fx-font-size: 16px;
}

#sfondo {
	-fx-background-image: url("/immagini/vittoriaTurno.jpg");
	-fx-background-size: cover;
    -fx-background-position: center center;
	-fx-border-width: 2px;
    -fx-border-color: rgb(0, 0, 0);
    -fx-font-family: "Georgia";
}

#sfondoBianco {
	-fx-background-color: rgb(255, 255, 255, 0.7);
	-fx-border-width: 2px;
    -fx-border-color: rgb(0, 0, 0);
}