#tabPane {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-border-width: 2px;
    -fx-border-color: rgb(0, 0, 0);
}

#tabPane .tab {
    -fx-background-color: rgb(209, 155, 0);
}

#tabPane .tab .tab-label{
    -fx-text-fill: rgb(0, 64, 128);
}

#tabPane .tab:selected {
    -fx-background-color: rgb(0, 64, 128);
}

#tabPane .tab:selected .tab-label{
    -fx-text-fill: rgb(209, 155, 0);
}

#tabPane.tab-pane .tab-header-background{
    -fx-background-color: rgb(255, 255, 255);
}

.button{
	-fx-border-color: rgb(209, 155, 0); 
	-fx-text-fill: rgb(209, 155, 0);
	-fx-prompt-text-fill: rgb(209, 155, 0);
	-fx-background-color: rgb(0, 64, 128);
	-fx-font-family: "Georgia";
    -fx-font-size: 12px;
}

.button:hover {
    -fx-border-color: rgb(0, 64, 128);
    -fx-background-color: rgb(209, 155, 0);
    -fx-text-fill: rgb(0, 64, 128);
    -fx-transition: background-color 0.3s ease;
}

#titolo {
    -fx-color: rgb(0, 64, 128);
    -fx-font: 50px "Felix Titling", sans-serif;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

#titoloCarta {
    -fx-color: rgb(0, 64, 128);
    -fx-font: 25px "Felix Titling", sans-serif;
    -fx-font-weight: bold;
    -fx-font-style: italic;
}

#infoCarta{
	-fx-border-width: 2px;
    -fx-border-color: rgb(0, 0, 0);
    -fx-text-fill: rgb(0, 64, 128);
}

#sfondo {
	-fx-background-image: url("/immagini/sfondoWelcome.jpg");
	-fx-border-width: 2px;
    -fx-border-color: rgb(0, 0, 0);
}

#centralBox {
	-fx-background-color: rgba(255, 255, 255, 0.5);
	-fx-border-width: 2px;
    -fx-border-color: rgb(0, 0, 0);
}

#listaCarte.combo-box {
    -fx-border-color: rgb(0, 64, 128); 
    -fx-text-fill: rgb(0, 64, 128);
    -fx-background-color: rgb(209, 155, 0);
    -fx-font-family: "Georgia";
    -fx-font-size: 12px;
}

#listaCarte.combo-box .list-cell{
    -fx-border-color: rgb(0, 64, 128); 
    -fx-text-fill: rgb(0, 64, 128);
    -fx-background-color: rgb(209, 155, 0);
    -fx-font-family: "Georgia";
    -fx-font-size: 12px;
}

#listaCarte.combo-box .list-cell:selected {
    -fx-border-color: rgb(209, 155, 0); 
    -fx-text-fill: rgb(209, 155, 0);
    -fx-background-color: rgb(0, 64, 128);
    -fx-font-family: "Georgia";
    -fx-font-size: 12px;
}

#titoloDescrizione{
    -fx-background-color: rgb(209, 155, 0, 0.5);
    -fx-font-family: "Georgia";
    -fx-font-size: 12px;
}

#descrizioneCarta{
    -fx-background-color: rgb(0, 64, 128, 0.5);
    -fx-font-family: "Georgia";
    -fx-font-size: 12px;
}

#titoloPunteggio{
    -fx-background-color: rgb(209, 155, 0, 0.5);
    -fx-font-family: "Georgia";
    -fx-font-size: 12px;
}

#punteggiCarta{
    -fx-background-color: rgb(0, 64, 128, 0.5);
    -fx-font-family: "Georgia";
    -fx-font-size: 12px;
}

#titoloGenere{
    -fx-background-color: rgb(209, 155, 0, 0.5);
    -fx-font-family: "Georgia";
    -fx-font-size: 12px;
}

#genereCarta{
    -fx-background-color: rgb(0, 64, 128, 0.5);
    -fx-font-family: "Georgia";
    -fx-font-size: 12px;
}

/*
#immagineCarta{
	-fx-border-width: 2px;
    -fx-border-color: rgb(0, 0, 0);
}
*/

#punteggioCarta{
	-fx-font-family: "Georgia";
    -fx-font-size: 12px;
}

#testoCarta{
	-fx-font-family: "Georgia";
    -fx-font-size: 12px;
}